{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block body %}

<div class="pure-g">
    <div class="pure-u-md-1-5"></div>
    <div class="pure-u-1 pure-u-md-3-5">
        {{ page.content | safe }}
        <h1>Calendar</h1>
        <div align="center">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=Y3MtZ3NhQHVtbi5lZHU&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043&amp;showTitle=0&amp;mode=MONTH&amp;showTz=1&amp;showCalendars=1&amp;showTabs=1&amp;showPrint=1&amp;showDate=1&amp;showNav=1"
                    width="99%"
                    height="700"
                    frameborder="0"
                    scrolling="no">
            </iframe>
        </div>
    </div>
    <div class="pure-u-md-1-5"></div>
</div>


{% endblock %}
